#Aa{
    background-color: black;
    color: white;
}
#Ab{ 
    background-color: saddlebrown;
    color:black;
}
#Ac{
    background-color: red;
    color: black;
}
#Ad{ 
    background-color: orange;
    color: black;
}
#Ae{
    background-color: yellow;
    color: black;
}
#Af{ 
    background-color: green;
    color: black;
}
#Ag{
    background-color: rgb(14, 171, 233);
    color: black;
}
#Ah{ 
    background-color: rgb(143, 12, 143);
    color: black;
}
#Ai{
    background-color:gray;
    color: black;
}
#Aj{ 
    background-color: white;
    color:black;
}
#Ak{
    background-color: rgba(218, 158, 7, 0.89);
    color: black;
}
#Al{ 
    background-color:rgb(145, 145, 145) ;
    color: black;
    
}
